.icon-brush { background-image: url('png/brush.png'); background-repeat: no-repeat; }

.icon-code { background-image: url('png/code.png'); background-repeat: no-repeat; }

.icon-css3 { background-image: url('png/css3.png'); background-repeat: no-repeat; }

.icon-git { background-image: url('png/git.png'); background-repeat: no-repeat; }

.icon-html5 { background-image: url('png/html5.png'); background-repeat: no-repeat; }

.icon-idea { background-image: url('png/idea.png'); background-repeat: no-repeat; }

.icon-javascript { background-image: url('png/javascript.png'); background-repeat: no-repeat; }

.icon-jquery { background-image: url('png/jquery.png'); background-repeat: no-repeat; }

.icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.icon-photoshop { background-image: url('png/photoshop.png'); background-repeat: no-repeat; }

.icon-postcss { background-image: url('png/postcss.png'); background-repeat: no-repeat; }

.icon-sass { background-image: url('png/sass.png'); background-repeat: no-repeat; }

.icon-x-mark-thick { background-image: url('png/x-mark-thick.png'); background-repeat: no-repeat; }

