<section class="section about-me lazyload" id="about-me">
    <div class="about-me__wrapper">
        <h2 class="heading-secondary u-center-till-medium fadeItInBottom">
            <span>So... Who Am I?</span>
        </h2>
        <p class="about-me__intro fadeItInLeft">I’m
            <strong>Suresh Vyas</strong>, a web designer and front-end web developer in Indore (MP), India. I’ve always had an interest in computer science but my interest in web development peaked in around February 2018 and I have started learning almost everything that caught my attention since then. Nowadays, I’m playing around with advanced JS, learning more about accessibility, SEO and also learning Angular.</p>
        <div class="about-me__photo-wrapper">
            <img src="./assets/images/suresh-vyas.png" alt="Suresh Vyas face" class="about-me__photo fadeItInRight">
        </div>
    </div>
</section>
