<section class="section section--about-me">
    <div class="wrapper">
        <div class="u-center-text">
            <h2 class="heading-secondary heading-secondary--light fadeItInBottom">S<span class="red">o</span>... Who Am <span class="blue">I</span>?</h2>
        </div>
        <div class="user-text u-m-top-large">
            <div class="user-text__image-container fadeItInLeft">
                <img src="./assets/images/suresh-vyas-face.jpg" alt="Picture of Suresh Vyas's face" class="user-text__image user-text__image--light" />
            </div>
            <div class="user-text__text user-text__text--light fadeItInRight">
               <p>I’m Suresh Vyas, a web designer and front-end web developer in Indore (MP), India. I’ve always had an interest in computer science but my interest in web development peaked in around February 2018 and I started learning almost everything that caughtmy attention since then. Currently I’m playing around with advanced JS, learning more about UX and then thinking about gettng my hands on React or Vue (probably React).</p>
                <p>And also... do I always keep my hair like that? Yeah, until they start to annoy me and I can't see the screen with my right eye. Then I sometimes shave them all :)</p>
            </div>
        </div>
    </div>
</section>
