<section class="section section--about-me lazyload" id="about-me">
    <div class="wrapper">
        <div class="u-center-text">
            <h2 class="heading-secondary heading-secondary--light fadeItInBottom">S<span class="red">o</span>... Who Am I?</h2>
        </div>
        <div class="user-text u-m-top-large">
            <div class="user-text__image-container fadeItInLeft">
                <img data-src="./assets/images/suresh-vyas-face.jpg" alt="Picture of Suresh Vyas's face" class="user-text__image user-text__image--light lazyload" />
            </div>
            <div class="user-text__text user-text__text--light fadeItInRight">
               <p>I’m Suresh Vyas, a web designer and front-end web developer in Indore (MP), India. I’ve always had an interest in computer science but my interest in web development peaked in around February 2018 and I have started learning almost everything that caught my attention since then. Nowadays, I’m playing around with advanced JS, learning more about accessibility, SEO and also learning Angular.</p>
            </div>
        </div>
    </div>
</section>
