<main id="content">
<section class="section section--expertise">
    <div class="wrapper wrapper--p-top u-center-text">
        <h2 class="heading-secondary u-m-bottom-small">M<span class="red">y</span> Expertis<span class="blue">e</span>
        </h2>
        <p class="subheading">I am well specialized in all aspects of the design and development process.</p>

        <div class="row u-m-top-v-large">
            <div class="row__4">
                <div class="content-container">
                    <span class="icon-idea icon" data-grunticon-embed></span>
                    <h3 class="heading-tertiary">Strategy</h3>
                    <p>I collaborate with clients to first fully understand the project and then transform ideas into a well thought out design that accomplishes its purpose.</p>
                </div>
            </div>

            <div class="row__4">
                <div class="content-container">
                    <span class="icon-brush icon" data-grunticon-embed></span>
                    <h3 class="heading-tertiary">Design</h3>
                    <p>I sketch and wireframe user interfaces focusing on creating a
                        <em>rich user experience</em>. All my designs start with a blank canvas so that your content decides the layout.</p>
                </div>
            </div>

            <div class="row__4">
                <div class="content-container">
                    <span class="icon-code icon" data-grunticon-embed></span>
                    <h3 class="heading-tertiary">Code</h3>
                    <p>I design in the browser with HTML5, CSS3 and some JS (mostly vanilla). And I love to code things from scratch or using my own pre-built components.</p>
                </div>
            </div>
        </div>
    </div>
</section>
