<section class="section section--get-in-touch" id="get-in-touch">
    <div class="wrapper u-center-text">
        <div class="fadeItInBottom">
            <h2 class="heading-secondary u-m-bottom-medium">Let’<span class="red">s</span> get in touc<span class="blue">h</span>!</h2>

            <p class="subheading subheading--wide u-m-bottom-small">
                Have a project?
            </p>

            <p class="subheading subheading--wide u-m-bottom-small">
                Want to hire me?
            </p>

            <p class="subheading subheading--wide">
                Or just want to say hi?
            </p>

        </div>

        <div class="u-m-top-large" role="button">
            <a href="#" class="btn btn--uppercase btn--tall btn--full" title="Send Suresh an email"><strong>Shoot me an email!</strong></a>
        </div>


    </div>
</section>
