<section class="section section--get-in-touch">
    <div class="wrapper u-center-text">
        <div class="fadeItInBottom">
            <h2 class="heading-secondary u-m-bottom-medium">Let’<span class="red">s</span> get in touc<span class="blue">h</span>!</h2>

            <p class="subheading subheading--wide u-m-bottom-small">Hav<span class="red">e</span> a new projec<span class="blue">t</span>? </p>

            <p class="subheading subheading--wide u-m-bottom-small">Wan<span class="red">t</span> to hire m<span class="blue">e</span>? </p>

            <p class="subheading subheading--wide">
                O<span class="red">r</span> just want to say h<span class="blue">i</span>?</p>
            </p>

        </div>

        <div class="u-m-top-large" role="button">
            <a href="#" class="btn btn--uppercase btn--tall"><strong>Shoot me an email!</strong></a>
        </div>


    </div>
</section>
