<header class="header" aria-label="Header">

    <div class="header__container">
        <div class="navigation" aria-label="Main Navigation" role="navigation">
        
            <div class="navigation__button" role="button">
                <div class="navigation__icon"></div>
            </div> 
        
            <div class="navigation__bg"></div>
        
            <div class="logo-wrapper">
                <a href="/" title="Home page" rel="">
                    <h1 class="screen-reader-text">Suresh Vyas</h1>
                    <h2 class="screen-reader-text">Web designer and front-end developer</h2>
                    <span class="icon-logo" data-grunticon-embed aria-label="Logo"></span>
                </a>
            </div>
        
            <nav class="navigation__nav">
                <h2 class="screen-reader-text">Main menu</h2>
                <ul class="navigation__list">
                    <li>
                        <a href="#my-projects" title="Websites created by Suresh Vyas">My projects</a>
                    </li>
                    <li>
                        <a href="#about-me" title="About Suresh Vyas">About me</a>
                    </li>
                    <li>
                        <a href="#" title="Get in touch with Suresh Vyas" class="btn btn--white-ghost open-modal">Get in touch</a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="header__intro">
            <h1 class="heading-primary">Hello<span class="red">.</span>
                <br /> I'm Suresh
            </h1>
        
            <p class="header__intro-text">
                A front-end web developer who loves to design rich interactive sites.</p>
        </div>
    </div>
</header>