<header class="header" data-rellax-speed="-4">

    <div class="navigation" aria-label="Main Navigation" role="navigation">

        <div class="navigation__button">
            <div class="navigation__icon"></div>
        </div>

        <div class="bg1"></div>

        <div class="logo-wrapper">
            <a href="/" title="Home page" rel="">            
                <h1 class="screen-reader-text">Suresh Vyas</h1>
                <h2 class="screen-reader-text">Web designer and front-end developer</h2>
                <span class="icon-logo" data-grunticon-embed></span>
            </a>
        </div>

        <nav class="navigation__nav">
            <h1 class="screen-reader-text">Main menu</h1>
            <ul class="navigation__list">
                <li>
                    <a href="#" title="Websites created by Suresh Vyas">My projects</a>
                </li>
                <li>
                    <a href="#" title="About Suresh Vyas">About me</a>
                </li>
                <li>
                    <a href="#" title="Get in touch with Suresh Vyas">Get it touch</a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="header__intro">
        <h1 class="heading-primary">Hello<span class="red">.</span><br /> I'm Sures<span class="blue">h</span>
        </h1>

        <p class="header__intro-text"><span class="red">A</span> front-end web developer who loves to design rich interactive site<span class="blue">s</span>.</p>
    </div>
</header>