<section class="section section--projects section--no-padding" id="my-projects">
    <div class="section--projects__container">

        <span class="project__bg icon-browser" data-grunticon-embed></span>

        <div class="u-center-text screen-reader-text">
            <h2>Thing<span class="red">s</span> I have built</span>
                </h2>
        </div>

        <div class="project project1">
            <div class="project__mockup">
                <img data-src="./assets/images/mockup.png" alt="website showcase of natours project" class="project__image lazyload">
            </div>
            <div class="project__info">
                <div class="project__content">
                    <h2 class="heading-secondary heading-secondary--em">
                            <span class="">Natour</span><span class="">s</span>
                        </h2>
                    <ul class="tags">
                        <li>HTML5</li>
                        <li>Advanced CSS3</li>
                        <li>Sass</li>
                        <li>PostCSS</li>
                    </ul>
                    <p class="project__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere animi dignissimos fugit nam sequi sit ut sed earum nostrum ab blanditiis facilis, cum doloremque eaque! Voluptatum minus animi illum beatae!</p>
                    <div class="project__link-container"><a href="#" class="btn btn--em">Visit website</a></div>
                </div>
            </div>
        </div>

        <div class="project project--dark project2">
            <div class="project__mockup">
                <img data-src="./assets/images/mockup.png" alt="website showcase of natours project" class="project__image lazyload">
            </div>
            <div class="project__info">
                <div class="project__content">
                    <h2 class="heading-secondary heading-secondary--em">
                            <span class="">Project</span><span class="">2</span>
                        </h2>
                    <ul class="tags">
                        <li>HTML5</li>
                        <li>Advanced CSS3</li>
                        <li>Sass</li>
                        <li>PostCSS</li>
                    </ul>
                    <p class="project__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere animi dignissimos fugit nam sequi sit ut sed earum nostrum ab blanditiis facilis, cum doloremque eaque! Voluptatum minus animi illum beatae!</p>
                    <div class="project__link-container"><a href="#" class="btn btn--blue btn--white btn--em">Visit website</a></div>
                </div>
            </div>
        </div>
        <div class="project project3">
            <div class="project__mockup">
                <img data-src="./assets/images/mockup.png" alt="website showcase of natours project" class="project__image lazyload">
            </div>
            <div class="project__info">
                <div class="project__content">
                    <h2 class="heading-secondary heading-secondary--em">
                            <span class="">Project</span><span class="">3</span>
                        </h2>
                    <ul class="tags">
                        <li>HTML5</li>
                        <li>Advanced CSS3</li>
                        <li>Sass</li>
                        <li>PostCSS</li>
                    </ul>
                    <p class="project__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere animi dignissimos fugit nam sequi sit ut sed earum nostrum
                    ab blanditiis facilis, cum doloremque eaque! Voluptatum minus animi illum beatae!</p>
                    <div class="project__link-container"><a href="#" class="btn btn--em">Visit website</a></div>
                </div>
            </div>
        </div>

        <div class="project project--dark project4">
            <div class="project__mockup">
                <img data-src="./assets/images/mockup.png" alt="website showcase of natours project" class="project__image lazyload">
            </div>
            <div class="project__info">
                <div class="project__content">
                    <h2 class="heading-secondary heading-secondary--em">
                            <span class="">Project</span><span class="">4</span>
                        </h2>
                    <ul class="tags">
                        <li>HTML5</li>
                        <li>Advanced CSS3</li>
                        <li>Sass</li>
                        <li>PostCSS</li>
                    </ul>
                    <p class="project__desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere animi dignissimos fugit nam sequi sit ut sed earum nostrum ab blanditiis facilis, cum doloremque eaque! Voluptatum minus animi illum beatae!</p>
                    <div class="project__link-container"><a href="#" class="btn btn--blue btn--white btn--em">Visit website</a></div>
                </div>
            </div>
        </div>
    </div>
</section>