<section class="section section--gray" id="my-projects">
    <h2 class="heading-secondary u-center-text u-m-bottom-v-large fadeItInBottom">
            <span>My Latest Work</span>
        </h2>
    <div class="wrapper--percentage u-relative">

        <div class="controls">
            <div class="controls--next"><span>&gt;</span></div>
            <div class="controls--prev"><span>&lt;</span></div>
        </div>


        <div class="slider">
            <div class="row slide">
                <div class="row__6 u-flex-col">
                    <div class="slide__text-content">
                        <h3 class="heading-tertiary heading-lato heading-lato--dark">The Cool Club</h3>
                        <p class="u-m-bottom-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eaque deserunt asperiores, dolorum reprehenderit eos, odit veritatis aperiam quas porro et tenetur officiis modi! Totam aliquid perspiciatis corporis at suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est dolores nulla ipsum aliquid, nisi,</p>
                        <a href="#" class="btn btn--full btn--no-expand btn--m-right btn--darken">Visit website</a>
                        <a href="#" class="btn btn--blue btn--no-expand u-m-top-20">View all</a>
                    </div>
                </div>
                <div class="row__6 u-flex-col">
                    <img class="slide__image" src=" https://assets.awwwards.com/awards/submissions/2018/06/5b2a827da1dc3.jpg" alt="Wish Portfolio screenshot">
                </div>
            </div>
            <div class="row slide">
                <div class="row__6 u-flex-col">
                    <div class="slide__text-content">
                        <h3 class="heading-tertiary heading-lato heading-lato--dark">Genrode</h3>
                        <p class="u-m-bottom-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel rerum reprehenderit ducimus, doloremque accusantium doloribus ut tenetur voluptatibus autem quidem dignissimos quia nulla corporis labore suscipit. Quam corrupti reiciendis libero. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia illo nostrum ratione? Provident vero,</p>
                    <a href="#" class="btn btn--full btn--no-expand btn--m-right">Visit website</a>
                    <a href="#" class="slide__btn-next btn btn--blue btn--no-expand u-m-top-20">View all</a>
                    </div>
                </div>
                <div class="row__6 u-flex-col">
                    <img class="slide__image" src=" https://assets.awwwards.com/awards/submissions/2018/06/5b280863e6082.png" alt="Wish Portfolio screenshot">
                </div>
            </div>
            <div class="row slide">
                <div class="row__6 u-flex-col">
                    <div class="slide__text-content">
                        <h3 class="heading-tertiary heading-lato heading-lato--dark">Appointed</h3>
                        <p class="u-m-bottom-medium">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt vitae voluptate assumenda quae, nisi inventore aut minus quidem hic, vero nam vel quisquam sunt sequi, expedita eveniet ducimus molestias earum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam delectus sapiente dolorem soluta deleniti magnam temporibus? Assumenda voluptatum dolor quis praesentium iure,</p>
                        <a href="#" class="btn btn--full btn--no-expand btn--m-right btn--darken">Visit website</a>
                        <a href="#" class="slide__btn-next btn btn--blue btn--no-expand u-m-top-20">View all</a>
                    </div>
                </div>
                <div class="row__6 u-flex-col">
                    <img class="slide__image" src=" https://assets.awwwards.com/awards/submissions/2018/06/5b22b8724332f.jpg" alt="Wish Portfolio screenshot">
                </div>
            </div>
        </div>
    </div>
</section>
