<section class="section section--skillset">

    <div class="wrapper wrapper--p-top u-center-text">
        <h2 class="heading-secondary u-m-bottom-small">M<span class="red">y</span> Skillse<span class="blue">t</span>
        </h2>
        <p class="subheading u-m-bottom-v-large">I can efficiently work with
            <em>all</em> the modern tools and techniques of a web developer.</p>

        <div class="skill-container">
            <div class="skill">
                <div class="icon-slider icon-html5" data-grunticon-embed></div>
                <h3>HTML5</h3>
            </div>
            <div class="skill">
                <div class="icon-slider icon-css3" data-grunticon-embed></div>
                <h3>CSS3</h3>
            </div>
            <div class="skill">
                <div class="icon-slider icon-javascript" data-grunticon-embed></div>
                <h3>Javascript</h3>
            </div>
            <div class="skill">
                <div class="icon-slider icon-jquery" data-grunticon-embed></div>
                <h3>Jquery</h3>
            </div>
            <div class="skill">
                <div class="icon-slider icon-sass" data-grunticon-embed></div>
                <h3>Sass</h3>
            </div>
            <div class="skill">
                <div class="icon-slider icon-postcss" data-grunticon-embed></div>
                <h3>Postcss</h3>
            </div>
            <div class="skill">
                <div class="icon-slider icon-git" data-grunticon-embed></div>
                <h3>Git</h3>
            </div>
            <div class="skill">
                <div class="icon-slider icon-photoshop" data-grunticon-embed></div>
                <h3>Photoshop</h3>
            </div>
        </div>
    </div>
</section>