<section class="section section--dark section--light" id="skillset">

    <div class="wrapper wrapper--p-top">
        <div class="fadeItInBottom">
            <h2 class="heading-secondary heading-secondary--light u-center-text u-m-bottom-small"><span>My Skillset</span>
            </h2>
            <p class="subheading u-m-bottom-v-large">I can efficiently work with <em>all</em> the modern tools and techniques of a web developer.</p>
        </div>

        <div class="skill-container row">
            <div class="row__6 u-no-b-margin">
                <div class="skill zoomItIn">
                    <h4><span class="icon-skills icon-html5" role="img" aria-label="Html5"></span>HTML5</h4>
                    <span class="skill__counter" data-value="100"></span>
                    <div class="progressBar">
                        <div class="progressBar__fill"></div>
                    </div>
                </div>
                <div class="skill zoomItIn">
                    <h4><span class="icon-skills icon-css3" role="img" aria-label="Html5"></span>CSS3</h4>
                    <span class="skill__counter" data-value="100"></span>
                    <div class="progressBar">
                        <div class="progressBar__fill"></div>
                    </div>
                </div>
                <div class="skill zoomItIn">
                    <h4><div class="icon-skills icon-javascript" role="img" aria-label="Javascript"></div>Javascript</h4>
                    <span class="skill__counter" data-value="85"></span>
                    <div class="progressBar">
                        <div class="progressBar__fill"></div>
                    </div>
                </div>
                <div class="skill zoomItIn">
                    <h4><div class="icon-skills icon-jquery" role="img" aria-label="Jquery"></div>Jquery</h4>
                    <span class="skill__counter" data-value="70"></span>
                    <div class="progressBar">
                        <div class="progressBar__fill"></div>
                    </div>
                </div>
            </div>
            <div class="row__6 u-no-b-margin">
                <div class="skill zoomItIn">
                    <h4><div class="icon-skills icon-sass" role="img" aria-label="Sass"></div>Sass</h4>
                    <span class="skill__counter" data-value="95"></span>
                    <div class="progressBar">
                        <div class="progressBar__fill"></div>
                    </div>
                </div>
                <div class="skill zoomItIn">
                    <h4><div class="icon-skills icon-postcss" role="img" aria-label="Postcss"></div>Postcss</h4>
                    <span class="skill__counter" data-value="95"></span>
                    <div class="progressBar">
                        <div class="progressBar__fill"></div>
                    </div>
                </div>
                <div class="skill zoomItIn">
                    <h4><div class="icon-skills icon-git" role="img" aria-label="Git"></div>Git</h4>
                    <span class="skill__counter" data-value="100"></span>
                    <div class="progressBar">
                        <div class="progressBar__fill"></div>
                    </div>
                </div>
                <div class="skill zoomItIn">
                    <h4><div class="icon-skills icon-photoshop" role="img" aria-label="photoshop"></div>Photoshop</h4>
                    <span class="skill__counter" data-value="40"></span>
                    <div class="progressBar">
                        <div class="progressBar__fill"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
