.row {
    display: block;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    @include media("landscape-or-medium") {
        display: flex;

        > *:not(:first-child) {
            margin-left: $gutter-x;
        }
    }

    &__4 {
        width: 100%;
        
        &:not(:last-child) {
            margin-bottom: rem(60);
        }

        @include media(">700px") {
            width: calc((100% - (2 * #{$gutter-x})) / 3);
            
            &:not(:last-child) {
                margin-bottom: 0;
            }
        }
    }

    &__6 {
        width: 100%;
        margin-bottom: rem(60);

        @include media("landscape-or-medium") {
            width: calc((100% - (1 * #{$gutter-x})) / 2);
            margin-bottom: 0;
        }
    }

    &__8 {
        width: 100%;
        margin-bottom: rem(60);

        @include media("landscape") {
            width: calc(2 * (100% - (2 * #{$gutter-x})) / 3); // m ultiplie d everything by 2 because it's 2 * width of row__4
            margin-bottom: 0;
        }
    }
}
