*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 12.5px;

    @include media(">small") {
        font-size: 14px
    }

    @include media(">medium") {
        font-size: 16px
    }

    @include media(">700px", "portrait") {
        font-size: 18px;
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    box-sizing: border-box;
    color: $gray;
    overflow-x: hidden;
}

.red {
    color: $mainRed;
}

.blue {
    color: $mainBlue;
}

h1, h2, h3, h4 {
    font-family: $josefin;
}
