*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
}

html {
    font-size: 12.5px;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include media(">small") {
        font-size: 14px
    }

    @include media(">medium") {
        font-size: 16px
    }

    @include media(">700px", "portrait") {
        font-size: 18px;
    }

    @include media(">1500px") {
        font-size: 18px;
    }

    @include media(">1800px") {
        font-size: 20px;
    }
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    box-sizing: border-box;
    color: $gray;
    overflow-x: hidden;
    background-color: #fff;
}

.red {
    color: $mainRed;
}

.blue {
    color: $mainBlue;
}

h1,
h2,
h3,
h4 {
    font-family: $josefin;
}

em {
    font-style: normal;
}

a.normal-link {
    color: #5EA4F7;
    text-decoration: none;
    border-bottom: 1px dotted #5EA4F7;
}

.ie-only {
    display: none;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        display: block;
    }
}