.heading-primary {
    font-weight: 900;
    color: #fff;
    line-height: 1.2;
    font-size: responsive 53px 125px;
    font-range: 320px 1500px;
    opacity: 1;

    @include media("<400px") {
        font-size: responsive 50px 60px;
        font-range: 300px 400px;
    }

    @include media(">700px", "portrait") {
        font-size: rem(96);
    }

    @include media(">900px", "portrait") {
        font-size: rem(110);
    }
}

.heading-secondary {
    font-weight: 300;
    color: $gray-dark;
    font-size: rem(40);
    letter-spacing: .5px;
    word-spacing: 1px;
    position: relative;

    &--em {
        font-size: em(40);
    }

    &--light {
        color: $white;
    }

    span {
        position: relative;
        top: 0;
        left: 0;

        &::after {
            content: '';
            width: rem(60);
            height: 2px;
            position: absolute;
            bottom: rem(-10);
            left: 0;
            transition: all 0.5s;
            background-color: $mainRed;
        }
    }
}

.heading-tertiary {
    font-weight: 400;
    color: $gray-dark;
    font-size: rem(26);
    letter-spacing: .5px;
    word-spacing: 1px;
    margin-bottom: rem(20);
}

.heading-lato {
    font-size: responsive 16px 40px;
    font-range: 320px 1500px;
    letter-spacing: .5px;
    word-spacing: 1px;
    font-family: 'Lato';
    font-weight: 300;
    color: $white-ish;

    &--dark {
        color: $gray;
    }

}

.subheading {
    text-align: center;
    font-size: rem(18);
    font-weight: 400;
    opacity: 0.6;
    width: 90%;
    margin: 0 auto;

    &--wide {
        font-weight: 400;
    }
}
