.u-center-text {
    text-align: center;
}

.u-m-bottom {
    &-v-large {
        margin-bottom: rem(80) !important;
    }

    &-large {
        margin-bottom: rem(20) !important;

        @include media(">medium") {
            margin-bottom: rem(60) !important;
        }
    }
    &-medium {
        margin-bottom: rem(20) !important;

        @include media(">medium") {
            margin-bottom: rem(40);
        }

    } 
    &-small {
        margin-bottom: rem(15) !important
    }
}

.u-m-top {
    &-huge {
        margin-top: rem(100) !important;
    }  

    &-v-large {
        margin-top: rem(60) !important;

        @include media(">700px") {
            margin-top: rem(80) !important;
        } 
    } 
    &-large {
        margin-top: rem(60) !important;
    }
    &-medium {
        margin-top: rem(20) !important;
        
        @include media(">medium") {
            margin-top: rem(40) !important
        }
    }
    &-small {
        margin-top: rem(15) !important
    }
}

.u-no-b-margin {
    margin-bottom: 0 !important;
}