$mainRed: #ee2c47;
$mainRedDark: #c61029;
$mainBlue: #1a2c3a;

$green: #55c587;

$white: #fff;
$white-ish: #f7f7f7;

$black: #000;

$gray: #777;
$gray-dark: #333;

$breakpoints: ( 
    'small': 530px,
    'medium': 800px,
    'large': 1200px,
    'menubp': 700px,
    'gridbp': 700px
);

$josefin: 'Josefin Sans', 'Lato', sans-serif;

$gutter-x: 4%;
$list: 750 1200 1600 2000;
$opacity: 0.7;
