$mainRed: #e74c3c;
$mainRedDark: #c72918;
$mainBlue: #3473db;
$mainBlueDark: #1f54ac;

$white: #fff;
$black: #000;

$gray: #777;
$gray-dark: #333;

$breakpoints: (
  'small': 530px,
  'medium': 800px,
  'large': 1200px
)
