*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-rendering: optimizeLegibility; }

html {
  font-size: 12.5px; }
  @media (min-width: 531px) {
    html {
      font-size: 14px; } }
  @media (min-width: 801px) {
    html {
      font-size: 16px; } }

@media (min-width: 701px) and (orientation: portrait) {
  html {
    font-size: 18px; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box;
  color: #777;
  overflow-x: hidden; }

.red {
  color: #e74c3c; }

.blue {
  color: #3473db; }

h1, h2, h3, h4 {
  font-family: "Josefin Sans", "Lato", sans-serif; }

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

.u-center-text {
  text-align: center; }

.u-m-bottom-v-large {
  margin-bottom: 62.5px !important;
  margin-bottom: 5rem !important; }

.u-m-bottom-large {
  margin-bottom: 46.875px !important;
  margin-bottom: 3.75rem !important; }

.u-m-bottom-medium {
  margin-bottom: 31.25px !important;
  margin-bottom: 2.5rem !important; }

.u-m-bottom-small {
  margin-bottom: 11.725px !important;
  margin-bottom: 0.938rem !important; }

.u-m-top-huge {
  margin-top: 78.125px !important;
  margin-top: 6.25rem !important; }

.u-m-top-v-large {
  margin-top: 46.875px !important;
  margin-top: 3.75rem !important; }
  @media (min-width: 701px) {
    .u-m-top-v-large {
      margin-top: 5rem !important; } }

.u-m-top-large {
  margin-top: 46.875px !important;
  margin-top: 3.75rem !important; }

.u-m-top-medium {
  margin-top: 31.25px !important;
  margin-top: 2.5rem !important; }

.u-m-top-small {
  margin-top: 11.725px !important;
  margin-top: 0.938rem !important; }

.u-no-b-margin {
  margin-bottom: 0 !important; }

.heading-primary {
  font-weight: 900;
  color: #fff;
  line-height: 1.2;
  font-size: calc(39.9322px + 6.27119vw); }

@media screen and (min-width: 1500px) {

  .heading-primary {
    font-size: 134px; } }

@media screen and (max-width: 320px) {

  .heading-primary {
    font-size: 60px; } }
  @media (max-width: 399px) {
    .heading-primary {
      font-size: calc(20px + 10vw); }
    @media screen and (min-width: 400px) {

    .heading-primary {
      font-size: 60px; } }
    @media screen and (max-width: 300px) {

    .heading-primary {
      font-size: 50px; } } }

@media (min-width: 701px) and (orientation: portrait) {
  .heading-primary {
    font-size: 6rem; } }

@media (min-width: 901px) and (orientation: portrait) {
  .heading-primary {
    font-size: 6.875rem; } }

.heading-secondary {
  font-weight: 900;
  color: #333;
  font-size: 31.25px;
  font-size: 2.5rem;
  letter-spacing: .5px;
  word-spacing: 1px; }

.heading-tertiary {
  font-weight: 700;
  color: #333;
  font-size: 23.4375px;
  font-size: 1.875rem;
  letter-spacing: .5px;
  word-spacing: 1px;
  margin-bottom: 15.625px;
  margin-bottom: 1.25rem; }

.subheading {
  text-align: center;
  font-size: 17.1875px;
  font-size: 1.375rem;
  font-weight: 300;
  width: 90%;
  margin: 0 auto; }

.row:after {
  content: '';
  display: table;
  clear: both; }

@media (min-width: 701px) {
  .row > *:not(:first-child) {
    margin-left: 4%; } }

.row__4 {
  float: left;
  width: 100%;
  margin-bottom: 46.875px;
  margin-bottom: 3.75rem; }
  @media (min-width: 701px) {
    .row__4 {
      width: 30.66667%;
      margin-bottom: 0; } }

.header {
  height: 100vh;
  font-family: "Josefin Sans", "Lato", sans-serif;
  position: relative;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/cup-of-coffee.jpg");
  overflow-x: hidden;
  transition: height 999999s; }
  .header__intro {
    position: absolute;
    left: 5%;
    bottom: 7%;
    transition: opacity 1s ease-in; }
    .header__intro.fadeOut {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      opacity: 0; }
  .header__intro-text {
    margin-top: 2.5%;
    font-size: calc(11.28814px + 0.84746vw);
    color: #e6e6e6;
    width: 101%;
    font-weight: 300;
    padding-left: 1.5%; }
  @media screen and (min-width: 1500px) {

  .header__intro-text {
    font-size: 24px; } }
  @media screen and (max-width: 320px) {

  .header__intro-text {
    font-size: 14px; } }

@media (max-width: 429px) and (orientation: portrait) {
  .header__intro-text {
    width: 90%; } }

@media (orientation: portrait) and (min-height: 551px) {
  .header__intro-text {
    font-size: 1.25rem;
    width: 90%; } }

@media (orientation: portrait) and (min-height: 651px) {
  .header__intro-text {
    font-size: 1.438rem; } }

@media (orientation: portrait) and (min-height: 751px) {
  .header__intro-text {
    font-size: 1.625rem; } }

@media (orientation: portrait) and (min-height: 851px) {
  .header__intro-text {
    font-size: 1.813rem; } }

@media (orientation: landscape) and (min-height: 651px) {
  .header__intro-text {
    width: 100%;
    font-size: 1.438rem; } }

@media (orientation: landscape) and (min-height: 751px) {
  .header__intro-text {
    font-size: 1.625rem; } }

@media (orientation: landscape) and (min-height: 851px) {
  .header__intro-text {
    font-size: 1.813rem; } }

/* To (probably partially) fix the buggy behaviour of IOS devices when using 100vh */
.header {
  /* iPad with portrait orientation. */
  /* iPad with landscape orientation. */
  /**
 * iPhone 5 You can also target devices with aspect ratio. */ }
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    .header {
      height: 1024px; } }
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
    .header {
      height: 768px; } }
  @media screen and (device-aspect-ratio: 40 / 71) {
    .header {
      height: 500px; } }

.wrapper {
  max-width: 890.625px;
  max-width: 71.25rem;
  margin: 0 auto; }

.row:after {
  content: '';
  display: table;
  clear: both; }

@media (min-width: 701px) {
  .row > *:not(:first-child) {
    margin-left: 4%; } }

.row__4 {
  float: left;
  width: 100%;
  margin-bottom: 46.875px;
  margin-bottom: 3.75rem; }
  @media (min-width: 701px) {
    .row__4 {
      width: 30.66667%;
      margin-bottom: 0; } }

@media (min-width: 701px) {
  .navigation {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto; }
    .navigation .logo {
      height: 30px; }
    .navigation__nav {
      margin-left: auto; }
    .navigation__list {
      list-style: none;
      display: flex;
      min-width: 21.25rem;
      justify-content: space-between;
      flex-direction: row; }
      .navigation__list li {
        margin-bottom: 2.5rem; }
    .navigation a {
      text-decoration: none;
      color: #eee;
      font-size: 110%; }
      .navigation a:after {
        margin-top: 10px;
        content: '';
        height: 2px;
        width: 30px; } }

@media (max-width: 699px) {
  .navigation {
    margin-top: 2.5rem;
    padding: 0 5%; }
    .navigation .logo {
      height: 30px; }
    .navigation__button {
      border: 2px solid #eee;
      width: 3.125rem;
      height: 3.125rem;
      position: absolute;
      top: 1.875rem;
      right: 5%;
      border-radius: 50%;
      z-index: 2000;
      text-align: center;
      cursor: pointer; }
    .navigation__icon {
      position: relative;
      margin-top: 1.438rem; }
      .navigation__icon, .navigation__icon:before, .navigation__icon:after {
        width: 1.25rem;
        height: 2px;
        background-color: #f7f7f7;
        display: inline-block; }
      .navigation__icon:before, .navigation__icon:after {
        content: '';
        position: absolute;
        left: 0;
        transition: all 0.2s; }
      .navigation__icon:before {
        top: -0.5rem; }
      .navigation__icon:after {
        top: 0.5rem; }
      .navigation__icon--open {
        background-color: transparent; }
        .navigation__icon--open:before {
          top: 0;
          -webkit-transform: rotate(135deg);
                  transform: rotate(135deg); }
        .navigation__icon--open:after {
          top: 0;
          -webkit-transform: rotate(-135deg);
                  transform: rotate(-135deg); }
    .navigation__background {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 50%;
      position: fixed;
      top: 2.188rem;
      right: 2.188rem;
      background-image: radial-gradient(#3473db, #e74c3c);
      z-index: 1000;
      transition: -webkit-transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-transform 0.8s cubic-bezier(0.785, 0.135, 0.15, 0.86); }
    .navigation__nav {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1500;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      opacity: 0;
      width: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }
    .navigation__list {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      list-style-type: none;
      text-align: center;
      width: 100%; }
      .navigation__list li {
        margin: 0.625rem; }
      .navigation__list a:link, .navigation__list a:visited {
        display: inline-block;
        font-size: 1.875rem;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        padding: 0.625rem 1.25rem;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
        background-size: 250%;
        transition: all 0.4s;
        visibility: hidden; }
      .navigation__list a:hover, .navigation__list a:active {
        background-position: 100%;
        color: #e74c3c;
        -webkit-transform: translateX(0.625rem);
                transform: translateX(0.625rem); } }

#content {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
  background-color: #fff; }

.content-container {
  width: 80%;
  margin: 0 auto; }
  @media (min-width: 801px) {
    .content-container {
      padding: 0 1.25rem;
      width: 100%;
      margin: 0; } }
  .content-container p {
    font-size: 14.0625px;
    font-size: 1.125rem; }
    @media (min-width: 701px) {
      .content-container p {
        font-size: 1rem; } }

.section {
  padding: 62.5px 0;
  padding: 5rem 0; }
  .section--no-p-bottom {
    padding-bottom: 0; }
  .section--skillset {
    background-color: #eee; }

.icon {
  width: 39.0625px;
  width: 3.125rem;
  height: 39.0625px;
  height: 3.125rem;
  display: block;
  margin: 0 auto 19.53749px auto;
  margin: 0 auto 1.563rem auto;
  fill: #3473db; }
  @media (min-width: 801px) {
    .icon {
      margin: 0 auto 0.938rem auto; } }

.icon-slider {
  width: 62.5px;
  width: 5rem;
  height: 62.5px;
  height: 5rem;
  display: block;
  margin: 0 auto 19.53749px auto;
  margin: 0 auto 1.563rem auto; }

.icon-css3 {
  fill: #1572B6; }

.icon-html5 {
  fill: #E34F26; }

.icon-javascript {
  fill: #F7DF1E; }

.icon-jquery {
  fill: #0769AD; }

.icon-sass {
  fill: #CC6699; }

.icon-git {
  fill: #F14E32; }

.icon-photoshop {
  fill: #00C8FF; }

.skill-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-row-gap: 50px;
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 401px) {
    .skill-container {
      grid-template-columns: repeat(3, 1fr); } }
  @media (min-width: 651px) {
    .skill-container {
      grid-template-columns: repeat(4, 1fr); } }
