*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box;
  color: #777;
  overflow: hidden; }

/* Features :-

    row-grid (optional gutter)
        - forced full-height
        - row-reverse
        - vertical align all
        - horizontzal align all
        - row-reverse

    column-grid
        - column-reverse
        - vertical align
        - horizontzal align
        - column-reverse

    cell
        - width or height
        - offset
        - vertical align self
        - cover rest of the space

*/

/* ================================== */

/* Grid container properties */

/* ================================== */

/* ================================== */

/* Cell Properties */

/* ================================== */

.header__designer-hover, .header__developer-hover {
  width: 45%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10; }

.header {
  height: 100vh;
  display: flex; }

.header__designer, .header__developer {
    position: relative;
    width: 50%;
    transition: all .8s;
    flex: 1 1 auto; }

.header__container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: all .6s; }

.header__developer {
    background-color: #333; }

.header__designer {
    background-color: #fff; }

.header__designer-hover {
    left: 0; }

.header__developer-hover {
    right: 0; }

.header__designer-hover:hover ~ .header__designer {
    width: 93%; }

.header__designer-hover:hover ~ .header__developer {
    width: 7%; }

.header__designer-hover:hover ~ .header__developer .header__container h1 {
    font-size: 14px;
    font-size: 0.875rem; }

.header__designer-hover:hover ~ .header__designer .header__container {
    top: 20%;
    left: 25%; }

.header__developer-hover:hover ~ .header__designer {
    width: 7%; }

.header__developer-hover:hover ~ .header__designer .header__container h1 {
    font-size: 14px;
    font-size: 0.875rem; }

.header__developer-hover:hover ~ .header__developer {
    width: 93%; }

.header__developer-hover:hover ~ .header__developer .header__container {
    top: 20%;
    left: 75%; }

.row {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  flex-direction: row; }

.row__6 {
    flex: none;
    width: 50%; }

.heading-primary {
  font-size: 80px;
  font-size: 5rem;
  font-weight: 300;
  display: inline; }

.heading-primary--red {
    color: #f03434;
    transition: all .8s; }

.heading-primary--blue {
    color: #2196f3;
    transition: all .8s; }
