*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-rendering: optimizeLegibility; }

html {
  font-size: 12px; }

@media (min-width: 531px) {
    html {
      font-size: 14px; } }

@media (min-width: 801px) {
    html {
      font-size: 16px; } }

@media (min-width: 701px) and (orientation: portrait) {
  html {
    font-size: 18px; } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box;
  color: #777; }

.red {
  color: #e74c3c; }

.blue {
  color: #3473db; }

h1, h2, h3, h4 {
  font-family: "Josefin Sans", "Lato", sans-serif; }

/* Text meant only for screen readers */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

.u-center-text {
  text-align: center; }

.u-m-bottom-v-large {
  margin-bottom: 60px !important;
  margin-bottom: 5rem !important; }

.u-m-bottom-large {
  margin-bottom: 45px !important;
  margin-bottom: 3.75rem !important; }

.u-m-bottom-medium {
  margin-bottom: 30px !important;
  margin-bottom: 2.5rem !important; }

.u-m-bottom-small {
  margin-bottom: 11.256px !important;
  margin-bottom: 0.938rem !important; }

.u-m-top-huge {
  margin-top: 75px !important;
  margin-top: 6.25rem !important; }

.u-m-top-v-large {
  margin-top: 60px !important;
  margin-top: 5rem !important; }

.u-m-top-large {
  margin-top: 45px !important;
  margin-top: 3.75rem !important; }

.u-m-top-medium {
  margin-top: 30px !important;
  margin-top: 2.5rem !important; }

.u-m-top-small {
  margin-top: 11.256px !important;
  margin-top: 0.938rem !important; }

.u-no-b-margin {
  margin-bottom: 0 !important; }

.heading-primary {
  font-weight: 900;
  color: #fff;
  line-height: 1.2;
  font-size: calc(39.9322px + 6.27119vw); }

@media screen and (min-width: 1500px) {

  .heading-primary {
    font-size: 134px; } }

@media screen and (max-width: 320px) {

  .heading-primary {
    font-size: 60px; } }

@media (max-width: 399px) {
    .heading-primary {
      font-size: calc(20px + 10vw); }
    @media screen and (min-width: 400px) {

    .heading-primary {
      font-size: 60px; } }
    @media screen and (max-width: 300px) {

    .heading-primary {
      font-size: 50px; } } }

@media (min-width: 701px) and (orientation: portrait) {
  .heading-primary {
    font-size: 6rem; } }

@media (min-width: 901px) and (orientation: portrait) {
  .heading-primary {
    font-size: 6.875rem; } }

.heading-secondary {
  font-weight: 900;
  color: #333;
  font-size: 30px;
  font-size: 2.5rem;
  letter-spacing: .5px;
  word-spacing: 1px; }

.heading-tertiary {
  font-weight: 700;
  color: #333;
  font-size: 22.5px;
  font-size: 1.875rem;
  letter-spacing: .5px;
  word-spacing: 1px;
  margin-bottom: 15px;
  margin-bottom: 1.25rem; }

.subheading {
  text-align: center;
  font-size: 16.5px;
  font-size: 1.375rem;
  font-weight: 300; }

.row:after {
  content: '';
  display: table;
  clear: both; }

.row > *:not(:first-child) {
  margin-left: 4%; }

.row__4 {
  float: left;
  width: 30.66667%; }

.header {
  height: 100vh;
  font-family: "Josefin Sans", "Lato", sans-serif;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/cup-of-coffee.jpg");
  overflow-x: hidden; }

.header__intro {
    position: absolute;
    left: 5%;
    bottom: 7%;
    transition: opacity 1s ease-in; }

.header__intro.fadeOut {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      opacity: 0; }

.header__intro-text {
    margin-top: 2.5%;
    font-size: calc(11.28814px + 0.84746vw);
    color: #e6e6e6;
    width: 101%;
    font-weight: 300;
    padding-left: 1.5%; }

@media screen and (min-width: 1500px) {

  .header__intro-text {
    font-size: 24px; } }

@media screen and (max-width: 320px) {

  .header__intro-text {
    font-size: 14px; } }

@media (max-width: 429px) and (orientation: portrait) {
  .header__intro-text {
    width: 90%; } }

@media (orientation: portrait) and (min-height: 551px) {
  .header__intro-text {
    font-size: 1.25rem;
    width: 90%; } }

@media (orientation: portrait) and (min-height: 651px) {
  .header__intro-text {
    font-size: 1.438rem; } }

@media (orientation: portrait) and (min-height: 751px) {
  .header__intro-text {
    font-size: 1.625rem; } }

@media (orientation: portrait) and (min-height: 851px) {
  .header__intro-text {
    font-size: 1.813rem; } }

@media (orientation: landscape) and (min-height: 651px) {
  .header__intro-text {
    width: 100%;
    font-size: 1.438rem; } }

@media (orientation: landscape) and (min-height: 751px) {
  .header__intro-text {
    font-size: 1.625rem; } }

@media (orientation: landscape) and (min-height: 851px) {
  .header__intro-text {
    font-size: 1.813rem; } }

.wrapper {
  max-width: 855px;
  max-width: 71.25rem;
  margin: 0 auto; }

.row:after {
  content: '';
  display: table;
  clear: both; }

.row > *:not(:first-child) {
  margin-left: 4%; }

.row__4 {
  float: left;
  width: 30.66667%; }

.navigation {
  padding-top: 40px;
  width: 90%;
  margin: 0 auto;
  display: flex; }

.navigation .logo {
    height: 30px; }

.navigation__list {
    list-style: none;
    display: flex;
    min-width: 28%;
    justify-content: space-between;
    margin-left: auto; }

.navigation a {
    text-decoration: none;
    color: #f7f7f7;
    font-size: 110%; }

.navigation a:after {
      margin-top: 10px;
      content: '';
      height: 2px;
      width: 30px; }

#content {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
  display: block;
  background-color: #fff; }

.content-container {
  padding: 0 15px;
  padding: 0 1.25rem; }

.section {
  padding: 60px 0;
  padding: 5rem 0; }

.section--skillset {
    background-color: #eee; }

.icon {
  width: 37.5px;
  width: 3.125rem;
  height: 37.5px;
  height: 3.125rem;
  display: block;
  margin: 0 auto 18.756px auto;
  margin: 0 auto 1.563rem auto;
  fill: #3473db; }
