.about-me {
    position: relative;
    @extend .row;

    &__intro {
        font-size: rem(28);
        word-spacing: 2px;
        width: 94%;
        letter-spacing: 1px;
        line-height: 1.6;
        margin-top: rem(75);
        z-index: 1;
        color: transparentize($color: $gray, $amount: 0.4);

        @include media(">500px") {
            width: 75%;
        }

        @include media("landscape") {
            width: 65%;
        }
    }

    &__photo-wrapper {
        opacity: 0.7;

        @include media("<1000px") {
            opacity: 0.2;
        }
    }

    &__photo {
        position: absolute;
        max-width: 70%;
        max-height: 628px;
        right: 0;
        z-index: 0;
        bottom: rem(80);

        @include media(">500px") {
            max-width: 55%;
        }

        @include media("landscape", ">800px") {
            bottom: 0;
            max-width: 35%;
            max-height: 100%;
        }
    }
}