.section--about-me {
    background-size: cover;
    background-image: linear-gradient(rgba(#000, 0.75), rgba(#000, 0.75)),
    url('../images/flowers-320.jpeg');

    @include target-retina {
        background-image: linear-gradient(rgba(#000, 0.75), rgba(#000, 0.75)),
        url('../images/flowers-320-2x.jpeg');
    }

    @include media(">750px") {
        background-image: linear-gradient(rgba(#000, 0.75), rgba(#000, 0.75)),
        url('../images/flowers-750.jpeg');

        @include target-retina {
            background-image: linear-gradient(rgba(#000, 0.75), rgba(#000, 0.75)),
            url('../images/flowers-750-2x.jpeg');
        }
    }

    @include media(">1200px") {
        background-image: linear-gradient(rgba(#000, 0.8), rgba(#000, 0.8)),
        url('../images/flowers-1200.jpeg');

        @include target-retina {
            background-image: linear-gradient(rgba(#000, 0.8), rgba(#000, 0.8)),
            url('../images/flowers-1200-2x.jpeg');
        }
    }

    @include media(">1600px") {
        background-image: linear-gradient(rgba(#000, 0.8), rgba(#000, 0.8)),
        url('../images/flowers-1600.jpeg');

        @include target-retina {
            background-image: linear-gradient(rgba(#000, 0.8), rgba(#000, 0.8)),
            url('../images/flowers-1600-2x.jpeg');
        }
    }

    @include media(">2000px") {
        background-image: linear-gradient(rgba(#000, 0.8), rgba(#000, 0.8)),
        url('../images/flowers-2000.jpeg');

        @include target-retina {
            background-image: linear-gradient(rgba(#000, 0.8), rgba(#000, 0.8)),
            url('../images/flowers-2000-2x.jpeg');
        }
    }

}

.user-text {
    width: 90%;
    margin: 0 auto;

    &::after {
        @extend .row:after;
    }

    &__image-container {
        display: block;
        margin: 0 auto rem(40) auto;
        shape-outside: circle(50% at 50% 50%);
        text-align: center;

        @include media(">500px") {
            float: left;
            margin: 0 5% 0 0;
        }
    }
    
    &__image {
        size: rem(200);
        border-radius: 50%;
        border: 2px solid $gray-dark;
        padding: 8px;

        &--light {
            border-color: $white-ish;
        }
    }

    &__text {
        font-size: rem(20);
        line-height: 1.7;
        font-weight: 300;

        &--light {
            color: #e6e6e6;
        }
    }
}