.fadeItInBottom {
    opacity: 0;

    &.fadeInBottom {
        @include fadeInDown( $function: ease-in-out,
        $duration: 0.7s)
    }
}

.fadeItInLeft {
    opacity: 0;

    &.fadeInLeft {
        @include fadeInLeft( $function: ease-in-out,
        $duration: 0.7s)
    }
}

.fadeItInRight {
    opacity: 0;

    &.fadeInRight {
        @include fadeInRight( $function: ease-in-out,
        $duration: 0.7s)
    }
}

.zoomItIn {
    opacity: 0;

    &.zoomIn {
        opacity: 1;

        @include zoomIn( $function: ease-in-out,
        $fill: both,
        $duration: 0.3s) @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
                animation-delay: #{($i * 0.1)}s;
            }
        }
    }
}