// @import '../base/_variables.scss'
.header {
    height: 100vh;
    font-family: $josefin;
    position: relative;
    background-size: cover;
    background-image: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7)),
    url('../images/cup-of-coffee.jpg');
    overflow-x: hidden;
    z-index: -9999;

    &__intro {
        position: absolute;
        left: 5%;
        bottom: 7%;
        transition: opacity 1s ease-in;

        &.fadeOut {
            opacity: 0;
        }
    }

    &__intro-text {
        margin-top: 2.5%;
        font-size: responsive 14px 24px;
        font-range: 320px 1500px;
        color: darken($white, 10%);
        width: 101%;
        font-weight: 300;
        padding-left: 1.5%;

        @include media("<430px",
        "portrait") {
            width: 90%;
        }
        @include media("portrait") {
            @include media("height>550px") {
                font-size: rem(20);
                width: 90%;
            }

            @include media("height>650px") {
                font-size: rem(23);
            }

            @include media("height>750px") {
                font-size: rem(26);
            }

            @include media("height>850px") {
                font-size: rem(29);
            }
        }
        @include media("landscape") {
            @include media("height>650px") {
                width: 100%;
                font-size: rem(23);
            }

            @include media("height>750px") {
                font-size: rem(26);
            }

            @include media("height>850px") {
                font-size: rem(29);
            }
        }
    }
}

/* To (probably partially) fix the buggy behaviour of IOS devices when using 100vh */

.header {
    /* iPad with portrait orientation. */
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
        & {
            height: 1024px;
        }
    }

    /* iPad with landscape orientation. */
    @media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
        & {
            height: 768px;
        }
    }

    /**
 * iPhone 5 You can also target devices with aspect ratio. */
    @media screen and (device-aspect-ratio: 40/71) {
        & {
            height: 500px;
        }
    }
}
