.header {
    height: calc(100vh - 0px);
    position: relative;
    background-image: linear-gradient(rgba(#000, 0.7), rgba(#000, 0.7)), url('../images/cup-of-coffee.jpg');
    background-size: cover;
    overflow: hidden;
    font-family: 'Josefin Sans', 'Lato', sans-serif;
    padding: 1px;

    &__intro {
        position: absolute;
        left: 5%;
        bottom: 7%;
    }

    &__intro-text {
        margin-top: 5%;
        font-size: responsive 14px 24px;
        font-range: 320px 1500px;
        color: darken($white,
        10%);
        width: 101%;
        font-weight: 300;
        padding-left: 1.5%;

        @include media("<430px",
        "portrait") {
            width: 90%;
        }

        @include media("portrait") {

            @include media("height>550px") {
                font-size: rem(20);
                width: 90%;
            }

            @include media("height>650px") {
                font-size: rem(23);
            }

            @include media("height>750px") {
                font-size: rem(26);
            }

            @include media("height>850px") {
                font-size: rem(29);
            }
        }

        @include media("landscape") {

            @include media("height>650px") {
                width: 100%;
                font-size: rem(23);
            }

            @include media("height>750px") {
                font-size: rem(26);
            }

            @include media("height>850px") {
                font-size: rem(29);
            }
        }
    }

    .red {
        color: $mainRed;
    }

    .blue {
        color: $mainBlue;
    }
}
