#content {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    background-color: $white;
}

.content-container {
    padding: 0 rem(20);
}

.section {
    padding: rem(80) 0;
    
    &--skillset {
        background-color: #eee;
    }
}
