#content {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
    display: block;
    background-color: $white;
}

.content-container {
    width: 80%;
    margin: 0 auto;

    @include media(">medium") {
        padding: 0 rem(20);
        width: 100%;
        margin: 0;
    }

    p {
        font-size: rem(18);

        @include media(">700px"){
            font-size: rem(16);
        }
    }
} 

.section {
    padding: rem(90) 0;
    background-color: #fff;

    &--no-p-bottom {
        padding-bottom: 0;
    }

    &--no-padding {
        padding: 0;
    }
}

.fadeItInBottom {
    opacity: 0;

    &.fadeInDown {
        @include fadeInDown(
            $function: ease-in-out,
            $duration: 0.7s
        )
    }
}

.fadeItInLeft {
    opacity: 0;

    &.fadeInLeft {
        @include fadeInLeft(
            $function: ease-in-out,
            $duration: 0.7s
        )
    }
}

.fadeItInRight {
    opacity: 0;

    &.fadeInRight {
        @include fadeInRight(
            $function: ease-in-out,
            $duration: 0.7s
        )
    }
}

.zoomItIn {
    opacity: 0;

    &.zoomIn {
        opacity: 1;

        @include zoomIn(
            $function: ease-in-out,
            $fill: both,
            $duration: 0.3s
        )

        @for $i from 1 through 8 {
            &:nth-child(#{$i}) {
                animation-delay: #{($i * 0.1)}s;
            }
        }
    }
}