.icon {
    size: rem(50);
    display: block;
    margin: 0 auto rem(25) auto;
    fill: $mainBlue;

    @include media(">medium") {
        margin: 0 auto rem(15) auto
    }
}

.icon-slider {
    size: rem(80);
    display: block;
    margin: 0 auto rem(25) auto;
}

.icon-css3 {
    fill: #1572B6;
}

.icon-html5 {
    fill: #E34F26;
}

.icon-javascript {
    fill: #F7DF1E;
}

.icon-jquery {
    fill: #0769AD;
}

.icon-sass {
    fill: #CC6699;
}

.icon-git {
    fill: #F14E32;
}

.icon-photoshop {
    fill: #00C8FF;
}

.icon-logo svg {
    width: rem(100);
    height: rem(30);
}
