@include media(">menubp") {
    .navigation {
        padding-top: rem(30);
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: 0 auto;

        .logo {
            height: 30px;
        }

        &__nav {
            margin-left: auto;
        }

        &__list {
            list-style: none;
            display: flex;
            min-width: rem(340);
            justify-content: space-between;
            flex-direction: row;
            height: 100%;
            align-items: center;
        }

        a {
            &:link,
            &:visited {
                text-decoration: none;
                color: #eee;
                font-size: 110%;
                transition: all 0.2s;
            }

            &:hover,
            &:focus {

                opacity: 0.6;
            }
        }
    }
}
