.section--projects {
    .project {
        display: grid;
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 0 1fr 2fr;
        grid-template-areas: ". . ." ". mockup mockup" ". info .";
        grid-row-gap: 20px;
        padding-left: 0;
        padding-right: 0;

        @media (min-aspect-ratio: 4/3) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "info mockup" "info mockup";
            grid-column-gap: rem(60);
            align-items: center;
            padding-left: 8%;
            padding-right: 8%;

            &--dark {
                grid-template-areas: "mockup info" "mockup info";
            }
        }

        &__content {
            height: 100%;
            grid-template-rows: auto auto 3fr 1fr;
            display: grid;

            @include media("height<600px") {
                grid-template-rows: auto auto 2fr 1fr;
            }
        }

        &__info {
            grid-area: info;
            
            @include media("landscape") {
                align-self: end;
                height: 90%;
            }
        }

        &__mockup {
            grid-area: mockup;
            align-self: center;
        }
    }
}