.section--projects {
    height: 100vh;

    &__container {
        height: 80vh;
        width: 63%;
        margin: 0 auto;
        overflow: hidden;
        background-image: url('../images/icons/chrome2.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        box-shadow: 0 rem(15) rem(40) rgba(#000,
        0.2);
        background-position: top left; // reduce the blurriness of text on chrome
        transform: translate3d(0, 0, -0);
        backface-visibility: hidden;
        transform-style: preserve-3d;
        perspective: 1px;

        @include target-ie {
            // No svg background on IE
            background-size: 0;
        }

        @include media("portrait") {
            // Increase size on portrait
            height: 80%;
            width: 90%;
        }
    }

    .project {
        height: 100%;
        margin-top: 12%;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        position: absolute;
        backface-visibility: hidden;
        max-height: calc(80vh - 8%);

        @include media("landscape") {
            margin-top: calc(12% + 3px);
            height: calc(88% - 3px);
        }

        &__link:link,
        &__link:visited {
            text-decoration: none;
            color: #333;
            padding: rem(8) rem(32);
            border: 1px solid $mainRed;
            border-radius: 100px;
            display: inline-block;
            transition: all 0.3s;

            &:hover,
            &:focus {
                background-color: $mainRed;
                color: $white-ish;
                padding: rem(8) rem(40);
            }

            &--dark:link,
            &--dark:visited {
                color: $white-ish;
                border: 1px solid $mainBlue;

                &:hover,
                &:focus {
                    background-color: $mainBlue;
                    color: $white-ish;
                }
            }
        }

        &__desc {
            width: 90%;
            text-align: justify;
            align-self: center;

            @include media("<small",
            "portrait") {
                font-size: 80%;
                font-weight: 400;
            }

            @include media("height<500px") {
                font-size: 70%
            }

            @include media(">370px") {
                @media (min-aspect-ratio: 9/16) {
                    font-size: 100%;
                }
            }
        }

        &__image {
            width: 100%;

            @include media("portrait") {
                max-width: 100%;
                max-height: 160px;
                width: auto;
                height: auto;
                display: block;
                margin: 0 auto;
                padding: 0 5%;

                @include media("<small") {
                    max-height: 115px;
                }

                @include media(">=600px",
                "portrait") {
                    max-height: 250px;
                    margin-bottom: rem(30);
                }
            }
        }
    }
}

.tags {
    list-style: none;

    li {
        display: inline-block;
        font-size: 70%;
        padding: rem(2) rem(5);
        background-color: rgba(#7f8c8d, 0.8);
        color: #fff;
        border-radius: rem(5);
    }
}

.project1,
.project3 {
    background-color: #fff;
    font-weight: 300;
}

.project2,
.project4 {
    background-color: #333;
    color: #f7f7f7;
    font-weight: 300;
}

// @include target-ie {
//     @import "projects-no-grid";
// }

// @supports not (display: grid) {
//     @import "projects-no-grid";
// }

// @supports (display: grid) {
    @import "projects-grid.scss";
// }