.section--projects {
    height: 100vh;
     width: 100%;
     display: flex;
     align-items: center;

    &__container {
        height: 80vh;
        width: 63%;
        margin: 0 auto;
        overflow: hidden;
        box-shadow: 0 rem(15) rem(40) rgba(#000,
        0.2);
        
        // To reduce the blurriness of text on chrome
        transform: translate3d(0, 0, -0);
        backface-visibility: hidden;
        transform-style: preserve-3d;
        perspective: 1px;

        @include target-ie {
            // No svg background on IE
            background-size: 0;
        }

        @include media("portrait") {
            // Increase size on portrait
            height: 80%;
            width: 90%;
        }
    }

    .project {
        height: 100%;
        padding-top: 12%;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        position: absolute;
        backface-visibility: hidden;

        // This container controls the base font size because everything else is defined in ems inside this.
        @extend html; // get html's font settings

        @include media("height<660px") {
            font-size: 11px;
        }

        &__bg {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 5;
        }

        &__desc {
            width: 90%;
            align-self: center;
            hyphens: auto;
            font-size: em(16);
        }

        &__image {
            width: 100%;

            @include media("portrait") {
                max-width: 100%;
                max-height: em(160);
                width: auto;
                height: auto;
                display: block;
                margin: 0 auto;

                @include media(">=600px", "portrait") {
                    max-height: 250px;
                    margin-bottom: rem(30);
                }
            }
        }
    }
}

.tags {
    list-style: none;

    li {
        display: inline-block;
        font-size: 70%;
        padding: rem(2) rem(5);
        background-color: rgba(#7f8c8d, 0.8);
        color: #fff;
        border-radius: rem(5);
        margin-right: 5px;
    }
}

.project1,
.project3 {
    background-color: #fff;
}

.project2,
.project4 {
    background-color: #333;
    color: #f7f7f7;
}

// @include target-ie {
//     @import "projects-no-grid";
// }

// @supports not (display: grid) {
//     @import "projects-no-grid";
// }

// @supports (display: grid) {
    @import "projects-grid.scss";
// }