// ! Spaghetti media queries warning !

.section--projects {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
                  
    &__container { 
        height: 85vh;
        width: 63%;
        margin: 0 auto;
        overflow: hidden;
        box-shadow: 0 rem(15) rem(40) rgba(#000,
        0.2);
        
        // To reduce the blurriness of text on chrome
        transform: translate3d(0, 0, -0);
        backface-visibility: hidden;
        transform-style: preserve-3d;
        perspective: 1px;

        @include media("portrait") {
            // Increase width on portrait
            width: 90%;
        }
    }

    .project {
        height: 100%;
        padding-top: 12%;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        position: absolute;
        backface-visibility: hidden;
        border-top-right-radius: rem(10);
        border-top-left-radius: rem(10);

        // This container controls the base font size because everything else is defined in ems inside this.
        @extend html; // get html's font settings

        @include media("height<570px") {
            font-size: 11px;
        }

        &__bg {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 5;
        }

        &__desc {
            align-self: center;
            hyphens: auto;
            font-size: responsive 12px 16.5px;
            font-range: 300px 1500px;

            @include media(">1500px") {
                font-size: 1em
            }

            @include media("height>600px", ">=700px", "<1000px", "height<1000px") {

                @include media(">800px") {
                    font-size: 0.85em
                }
            }

            @include media("height>800px", "height<1000px", "portrait") {
                font-size: em(18)
            }

            @include media(">1000px", "portrait") {
                font-size: 1.5em
            }

            @include media("portrait", "height>=900px") {
                width: 80%;
                font-size: responsive 18px 20px;
                font-range: 900px 1300px
            }
        }

        &__image {
            width: 100%;

            @include media("portrait") {
                max-width: 100%;
                max-height: 10em;
                width: auto;
                height: auto;
                display: block;
                margin: 0 auto;

                @include media(">=600px") {
                    max-height: 15em;
                    margin-bottom: em(30);
                }

                @include media("height>=600px", ">=600px") {
                    max-height: 10em;
                    margin-bottom: 0;
                }

                @include media(">=700px", "height>=1000px") {
                    max-height: 15em;
                    margin-bottom: em(30);
                }

                @media (min-aspect-ratio: 4/3) {
                    max-height: 15em;
                    margin-bottom: em(30);
                }

                @include media(">1000px") {
                    max-height: 20em;
                }

                @include media("height<500px", "<350px") {
                    max-height: 9em;
                }

                @include media("portrait", "height>650px", "<500px") {
                    max-height: 13em;
                }
            }
        }
    }
}

.tags {
    list-style: none;

    li {
        display: inline-block;
        font-size: 70%;
        padding: rem(2) rem(5);
        background-color: rgba(#7f8c8d, 0.8);
        color: #fff;
        border-radius: rem(5);
        margin-right: em(5);
    }
}

.project1,
.project3 {
    background-color: #fff;
}

.project2,
.project4 {
    background-color: #333;
    color: #f7f7f7;
}

@include target-ie {
    @import "projects-no-grid";
}

@supports not (display: grid) {
    @import "projects-no-grid";
}

@supports (display: grid) {
    @import "projects-grid.scss";
}