.row {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
    
    > *:not(:first-child) {
        margin-left: $gutter-x;
    }
    
    &__4 {
        float: left;
        width: calc((100% - (2 * #{$gutter-x})) / 3);
    }
}
