.skill {
    width: 70%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: rem(60);
    position: relative;

    &__counter {
        top: 0;
        position: absolute;
        right: .625rem;
    }

    @include media(">gridbp") {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.progressBar {
    height: 16px;
    width: 100%;
    border: 1px solid transparentize($color: $mainRed, $amount: 0.5);
    position: relative;
    margin-top: rem(20);
    margin-left: rem(-10);

    &__fill {
        height: 8px;
        background-color: $mainRed;
        opacity: 1;
        width: 0;
        margin-left: 3px;
        margin-left: 3px;
        max-width: calc(100% - 6px);
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: width 1.5s;
    }
}