.heading-primary {
    font-weight: 900;
    color: #fff;
    line-height: 1.2;
    font-size: responsive 60px 134px;
    font-range: 320px 1500px;

    @include media("<400px") {
        font-size: responsive 50px 55px;
        font-range: 300px 400px;
    }

    @include media(">700px", "portrait") {
        font-size: rem(96);
    }

    @include media(">900px", "portrait") {
        font-size: rem(110);
    }
}
