.user-text {
    width: 90%;
    margin: 0 auto;

    &::after {
        @extend .row:after;
    }

    &__image-container {
        display: block;
        margin: 0 auto rem(40) auto;
        shape-outside: circle(50% at 50% 50%);
        text-align: center;

        @include media(">500px") {
            float: left;
            margin: 0 5% 0 0;
        }
    }
    
    &__image {
        size: rem(200);
        border-radius: 50%;
        border: 2px solid $gray-dark;
        padding: 5px;

        &--light {
            border-color: $white-ish;
        }
    }

    &__text {
        font-size: rem(20);
        line-height: 1.7;
        font-weight: 300;

        &--light {
            color: #e6e6e6;
        }
    }
}