.heading-primary {
    font-size: rem(80);
    font-weight: 300;
    display: inline;

    &--red {
        color: $mainRed;
        transition: all .8s;
    }

    &--blue {
        color: $mainBlue;
        transition: all .8s;
    }
}
